#about {
  background: url('/assets/sunset.gif');
  // background: #474787;
  background-size:cover;
  padding-bottom: 100px;

}

.profile-bio-wrapper {
  padding-top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.arrow-image-about {
  width: 60px;
  height: auto;
  position: absolute;
  padding-bottom: 500px;
  right: 10px;
  transform: translateY(-50%);
  z-index: 999;
}


.profile-image {
  padding-top: 40px;
  padding-left:50px ;
  max-width: 30%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 1px ;

}

.bio-container {
  padding-top: 800px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 20px;
  color: #fff;
  flex: 1;
}

.bio-container h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.bio-container p {
  font-size: 22px;
  line-height: 1.6;
}












@media (max-width: 768px) {
  .profile-bio-wrapper {
    flex-direction: column;
    align-items: center; // Center items horizontal //
  }

  .profile-image {
    padding-top: 50px; // fix padding for small screens //
    max-width: 50%;
  }

  .bio-container {
    flex: none; // Remove flex to prevent it from growing //
    max-width: 80%;
    margin-top: 20px;
    overflow-y: auto; // Allow bio to be scrolled //
  }


  .profile-bio-wrapper {
    flex-direction: column;
    align-items: center;
    max-height: 70vh;
    overflow-y: auto;
  }
}