#contact {
  background: #6904a3;
}

.main-contact-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 40vh;

}

.goodbye-text {
  letter-spacing: 0.5rem;
  font-size: 4rem;
  color: #fdfafa;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.email-me {
  font-size: 2rem;
  color: #cae134;
  font-family: Doyle;


}
.email-me a {
  font-size: 1.5rem;
  letter-spacing: 0cm;
  color: chartreuse;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.find-me  {
  padding-top: 10vh;
  font-size: 2rem;
  color: #e1eb25;
  font-family: Doyle;
}

.find-me a {
  padding-bottom: 0.9rem;
  font-size: 1.5rem;
  color: chartreuse;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}





