#contact {
  background: #2C2C54;
}

.main-contact-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-top: 10vh;
  padding-right:5vh;

}

.goodbye-text {
  letter-spacing: 0.5rem;
  font-size: 4rem;
  color: #fdfafa;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contact-item {
  font-size: 2rem;
  color: #f2f2f2;
  font-family: Doyle;
}


.contact-item a {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.5rem;
  letter-spacing: 0cm;
  color: chartreuse;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}



@media (max-width:320px){
  .goodbye-text {
    padding-top: 3vh;
    font-size: 1rem;
  }
  .contact-item {
    font-size: 1rem;
  }

  .contact-item a {
    font-size: 1rem;
  }

}

 @media (min-width:321px) and (max-width: 600px){
   .main-contact-container{
     display: block;
     max-width: 60%;
     padding: 5vh 10% 0;
     margin: 0 auto;
   }
   .contact-item a {
     font-size:1rem ;
   }

   .goodbye-text{
     padding-top: 3vh;
     font-size: 2rem;
   }

   .contact-item {
     font-size: 1rem;
    }
  }

 @media (min-width:601px) and (max-width:768px){

   .main-contact-container{
     display: block;
     max-width: 80%;
     padding: 10vh 10% 0;
     margin: 0 auto;
   }

   .contact-item a {
     font-size:1.5rem ;
   }


   .goodbye-text{
     padding-top: 5vh;
     font-size: 2rem;
     text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
   }

   .contact-item {
     padding-top: 10vh;
     font-size: 1.5rem;
   }
 }


 @media (min-width: 769px) and (max-width: 1024px){
   .main-contact-container{
     display: block;
     max-width: 80%;
     padding: 10vh 10% 0;
     margin: 0 auto;
   }

   .contact-item a {
     font-size:2rem ;
   }

   .goodbye-text{
     padding-top: 5vh;
     font-size: 3rem;
   }

   .contact-item {
     padding-top: 10vh;
     font-size: 2rem;
   }
 }


// @media (max-width:820px){

//   .main-contact-container{
//     display: block;
//     max-width: 80%;
//     padding: 10vh 10% 0;
//     margin: 0 auto;
//   }

//   .contact-item a {
//     font-size:1.5rem ;
//   }


//   .goodbye-text{
//     padding-top: 5vh;
//     font-size: 3rem;
//   }

//   .contact-item {
//     padding-top: 10vh;
//     font-size: 2rem;
//   }

// }











