#home {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #A9D6E5;
}


.home-main-container {
  padding-bottom: 10vh;
}

.arrow-image-home {
  width: 60px;
  height: auto;
  position: absolute;
  padding-bottom: 300px;
  right: 10px;
  transform: translateY(-50%);
  z-index: 989;
}


.static-text {
  font-size: 4rem;
  color: #787676;
  font-family: Doyle;
}


.typed-text, .typed-cursor {
  font-size: 5rem;
  color: #f9f9f9;
  display: inline-block;
  vertical-align: middle; // Center the cursor vertically //
  position: relative;
}

.typed-cursor {
  font-size: 5rem;
  color: #f9f9f9;
}

.icons-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}

.icon-container{
  padding-top: 50px;
  padding-right: 100px;
  text-align: center;
  width: 80px;
  opacity: 1;
  transition:opacity 1s ease-in-out;
}
.icon-container img{
  width: 8vw;
  height: auto;
}

.face-logo {
  margin: 0px;
  padding: 0px;
  padding-left: 38vw;
  padding-top: 10vh;
  display: inline-block;
  position: relative;
}

.face-logo img {
  position: absolute;
  bottom: -188px;
  right: -380px;
  width: 36vw;
  height: auto;
  animation: floatAnimation 4s ease-in-out infinite;
}

@keyframes floatAnimation {
  0%,100% {
    transform: translateY(0);
  }
  50%{
    transform: translateY(-20px);
  }
}

//Fold
@media (min-width: 280px) and (max-width: 290px){
  .static-text {
    font-size: 2.5rem; // Fix font size for smaller screens //
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .face-logo {
    padding-right: 20px;
    height: auto;
    position: relative;
    text-align: center;
  }

  .face-logo img {
    width: 70vw;
    bottom: -10px;
    position: absolute;
    left: 40%;
  }


  .arrow-image-home {
    display: none;
    opacity: 0;
  }

  .typed-text, .typed-cursor {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
  }

  .icons-row {
    padding-right: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .icon-container {
    padding-top: 20px;
    padding-right: 0;
    width: 100%;
    opacity: 1;
  }

  .icon-container img {
    width: 50%;
  }

}

// Mobile
@media (min-width: 320px) and (max-width: 480px) {
  .static-text {
    font-size: 2.5rem; // Fix font size for smaller screens //
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .face-logo {
    padding-right: 20px;
    height: auto;
    position: relative;
    text-align: center;
  }

  .face-logo img {
    width: 70vw;
    bottom: -10px;
    position: absolute;
    left: 40%;
  }


  .arrow-image-home {
    display: none;
    opacity: 0;
  }

  .typed-text, .typed-cursor {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
  }

  .icons-row {
    padding-right: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .icon-container {
    padding-top: 20px;
    padding-right: 0;
    width: 100%;
    opacity: 1;
  }

  .icon-container img {
    width: 50%;
  }
}




// iPads, Tablets
@media (min-width: 481px) and (max-width: 768px) {
  .static-text {
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .face-logo img {
    width: 40vw;
    bottom: -10px;
    right: -330px;
  }



  .arrow-image-home {
    display: none;
    opacity: 0;
  }

  .typed-text, .typed-cursor {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
  }

  .icons-row {
    padding-right: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .icon-container {
    padding-top: 20px;
    padding-right: 0;
    width: 100%;
    opacity: 1;
  }

  .icon-container img {
    width: 50%;
  }
}







// Small screens, laptops
@media (min-width: 769px) and (max-width: 1023px) {
  .static-text {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

   .arrow-image-home {
     display: none;
     opacity: 0;
   }

  .face-logo {
    padding-right: 20px;
    height: auto;
  }

  .face-logo img {
    width: 50vw;
    bottom: -10px;
    right: -280px;
  }

  .typed-text, .typed-cursor {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
  }

  .icons-row {
    padding-right: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .icon-container {
    padding-top: 20px;
    padding-right: 0;
    width: 100%;
    opacity: 1;
  }

  .icon-container img {
    width: 50%;
  }
}

@media (min-width: 912px) and (max-width: 912px){
  .static-text {
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .arrow-image-home {
    display: none;
    opacity: 0;
  }

  .face-logo {
    padding-right: 20px;
    height: auto;
  }

  .face-logo img {
    width: 50vw;
    bottom: -10px;
    right: -300px;
  }

  .typed-text, .typed-cursor {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
  }

  .icons-row {
    padding-right: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .icon-container {
    padding-top: 20px;
    padding-right: 0;
    width: 100%;
    opacity: 1;
  }

  .icon-container img {
    width: 50%;
  }

}


 @media (min-width: 1024px) and (max-width:1024px){
   .arrow-image-home {
    //  display: none;
    //  opacity: 0;
     padding-bottom: 50vh;
   }
   .face-logo {
     margin: 0px;
     padding: 0px;
     padding-left: 38vw;
     padding-top: 10vh;
     display: inline-block;
     position: relative;
   }

   .face-logo img {
     position: absolute;
     bottom: -170px;
     right: -380px;
     width: 36vw;
     height: auto;
     animation: floatAnimation 4s ease-in-out infinite;
   }
 }




