#home {
  padding-top: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #90CAF9;
}


.static-text {
  font-size: 4rem;
  color: #787676;
  font-family: Doyle;
}

.typed-text, .typed-cursor {
  font-size: 5rem;
  color: #f9f9f9;
  display: inline-block;
  vertical-align: middle; // Center the cursor vertically //
  position: relative;
}

.typed-cursor {
  font-size: 5rem;
  color: #f9f9f9;
}

.icons-row{
  padding-right: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 1;
}

.icon-container{
  padding-top: 50px;
  padding-right: 80px;
  text-align: center;
  width: 80px;
  opacity: 0;
  transition:opacity 1s ease-in-out;
}
.icon-container img{
  width: 8vw;
  height: auto;
}

//SMALL SCREEN CONFIG

@media (max-width: 768px) {
  .static-text {
    font-size: 2.5rem; // Fix font size for smaller screens //
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .typed-text, .typed-cursor {

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 3rem;
  }

  .icons-row {
    padding-right: 20px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .icon-container {
    padding-top: 20px;
    padding-right: 0;
    width: 100%;
    opacity: 1;
  }

  .icon-container img {
    width: 30%;
  }
}




