#projects{
  background: #8263b4;
}

.main-container {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 70px;

}

.arrow-image-projects {
  width: 60px;
  height: auto;
  position: absolute;
  padding-top: 200px;
  right: 10px;
  transform: translateY(-50%);
  z-index: 999;
}


.project-card {
  background: #8c839b;
  position: relative;
  width: 300px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 250px;
  position: relative;
  text-align: center;


  transition: transform 0.3s;
  &:hover {
    transform: translateY(-5px);
  }
}

.project-image {
  max-width: 100%;
  height: 100%;
}


.project-name {
  padding-top: 50px;
  max-width: 100%;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.project-description {
  padding-top: 10px;
  font-weight: bold;
  max-height: 80px;
  font-size: 16px;
  color: #ffffff;
  border: #fff 1px auto;
}

.details-button {
  position: absolute;
  bottom:10px;
  min-width: 100px;
  display:flex;
  font-family: Doyle;
  border: 1px solid #ea88e6;
  border-radius:20px;
  background-color: #9668df;
  transition: all .3s ease-in;

  &:hover {
    color: white;
    background-color: #6bcaf7;
    transition: all .3s ease-in;
  }
}


.button-text {
  padding-top: 5%;
  padding-left: 20%;
  font-family: Doyle;
  text-decoration: none;
  color: aliceblue;
  font-size: 16px;
}

.gif-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  position: relative;
  width: 100%;
  height: 100%;
}

