#projects{
  background: #5b309f;
}

.main-container {
  padding-top: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 70px;
}

.arrow-image-projects {
  width: 100px;
  height: auto;
  position: absolute;
  padding-top: 200px;
  right: 10px;
  transform: translateY(-50%);
  z-index: 999;
}


.project-card {
  width: 300px;
  border: 1px solid black;
  border-radius: 4px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 250px;
  position: relative;
  overflow: hidden;

  transition: transform 0.3s;
  &:hover {
    transform: translateY(-5px);
  }
}

.project-image {
  max-width: 100%;
  height: 100%;
}


.project-name {
  padding-top: 50px;
  max-width: 100%;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}

.project-description {
  padding-top: 10px;
  font-weight: bold;
  max-height: 80px;
  font-size: 20px;
  word-wrap: break-word;
  color: #fff;
}

