<div class="about-section">
  <div class="profile-bio-wrapper">
    <%= image_tag("linkedin-picture.jpeg", alt: "Joao", class: "profile-image", data: { aos: "flip-left", aos_duration: 700, aos_delay: 250 }) %>
    <div class="bio-container" data-aos="fade-right" data-aos-duration="700">
      <h3>Who am I</h3>
      <p>
        "A passionate programmer with a strong interest in technology and a drive to excel in the field. Over the years, I have honed my programming skills and gained expertise in various programming languages and frameworks.
        My journey in the world of technology began with a fascination for computers and the desire to create innovative solutions.
        As I delved deeper into the realm of coding, I discovered the joy of crafting websites that are not only visually appealing but also highly functional and user-friendly."
      </p>
    </div>
  </div>
</div>


