<div class="links-container">
  <div class="link-row">

    <div class="link-item">
      <%= link_to "https://github.com/JonTolRoch", target: "_blank" do %>
      <i class="fab fa-github fa-2x" aria-hidden="true"></i>
      <span class="sr-only">GitHub</span>
      <% end %>
    </div>

    <div class="link-item">
      <%= link_to "https://www.linkedin.com/in/jo%C3%A3o-toledo-65693626b/",target: "_blank" do%>
      <i class="fab fa-linkedin fa-2x" aria-hidden="true"></i>
      <span class="sr-only">Linkedin</span>
      <% end %>
    </div>

    <div class="link-item">
      <%= link_to "#contact" do %>
      <i class ="fa-sharp fa-solid fa-envelope fa-2x" aria-hidden="true"></i>
      <span class="sr-only">Email</span>
      <% end %>
    </div>

  </div>
</div>