<aside class="links-column">
  <ul>
    <li>
      <%= link_to "https://github.com/JonTolRoch", target: "_blank" do %>
      <i class="fab fa-github" aria-hidden="true"></i>
      <span class="sr-only">GitHub</span>
      <% end %>
    </li>

    <li>
      <%= link_to "https://www.linkedin.com/in/jo%C3%A3o-toledo-65693626b/",target: "_blank" do%>
      <i class="fab fa-linkedin" aria-hidden="true"></i>
      <span class="sr-only">Linkedin</span>
      <% end %>
    </li>

    <li>
      <%= link_to "#contact" do %>
      <i class ="fa-sharp fa-solid fa-envelope" aria-hidden="true"></i>
      <span class="sr-only">Email</span>
      <% end %>
    </li>
    <li>
      <span class="cv-icon">
        <a href="<%= asset_path('curriculum.pdf') %>" download="curriculum.pdf">CV</a>
      </span>
    </li>



  </ul>
</aside>


