<header data-controller="custom">
  <div class="wrapHead">
    <div class="logo">
      <h2>João Toledo</h2>
    </div>
    <nav>
      <ul>
        <li><a href="#home" class="scroll">Home</a></li>
        <li><a href="#about" class="scroll">About</a></li>
        <li><a href="#projects" class="scroll">Projects</a></li>
        <li><a href="#contact" class="scroll">Let`s Work Together</a></li>
      </ul>
    </nav>
  </div>
</header>