.modal-title {
  color: aliceblue;
}

.modal-content{
  background-color: black;
}

.detailed-description{
  color: azure;
}

.carousel-inner {
  display: flex;

}
.modal-image {
  object-fit: cover;
  margin: 30px;
}

.carousel-control-prev-icon{
  size: 40px;
  color: aqua;
}



