<%= render "shared/navbar" %>

<section id="home" class="home-section">
  <%= render "shared/home_section"%>
</section>


<section id="about" class ="about-section">
  <%= render "shared/about_section"%>
</section>

<section id="projects">
  <%= render "shared/projects_section"%>
</section>


<section id="contact">
</section>