<noscript>
  <div class="about-section">
    <div class="profile-bio-wrapper">
      <%= image_tag("linkedin-picture.jpeg", alt: "Joao", class: "profile-image") %>
      <div class="bio-container">
        <h3>Bio</h3>
        <p>
          I'm a Brazilian programmer in pursuit of a career in technology.
          I like to engage in creative activities and recently found the pleasure of coding awesome websites.
        </p>
      </div>
    </div>
  </div>
</noscript>