<noscript>
  <div class="about-section">
    <div class="profile-bio-wrapper">
      <%= cl_image_tag("linkedin-picture.jpeg", alt: "Joao", class: "profile-image") %>
      <div class="bio-container">
        <h3>Bio</h3>
        <p>
        "I'm a creative individual with a music background who's now passionate about creating new applications and designing appealing UIs. I'm aware of the importance of continuous learning and value each step of the journey. Joining a collaborative team is an exciting prospect for me. I've learned from past experiences about the importance of well-structured teams that work to deliver optimal application outcomes. As a team player, I'm dedicated to contributing diligently and achieving exceptional results."
        </p>
      </div>
    </div>
  </div>
</noscript>