.links-column {
  position: fixed;
  top: 50%;
  left: 0;
  background-color: #072b51;
  transform: translateY(-50%);
  padding: 15px;
  border-radius: 5px;
  z-index: 10;
}

.text-wrapper {
  height: 30vh;

}

.links-column ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links-column li {
  margin-bottom: 30px;
}

.links-column a {
  text-decoration: none;
  color: #c2e3cb;
  font-size: 18px;
}

.links-column a:hover {
  color: #00FF41;
}


// Mobile
@media (min-width: 320px) and (max-width: 480px) {
  .links-column a {
    text-decoration: none;
    color: #c2e3cb;
    font-size: 25px;
  }


}

// iPads, Tablets
@media (min-width: 481px) and (max-width: 768px) {

}

// Small screens, laptops
@media (min-width: 769px) and (max-width: 1024px) {

}

// Desktops, large screens
@media (min-width: 1025px) and (max-width: 1200px) {

}

// Extra large screens, TV
@media (min-width: 1201px) {

}







